.slider-navigation__button {
  position: absolute;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.slider__left {
  opacity: 0.47;
}

.slider__left:hover {
  opacity: 1;
}

.slider__right {
  opacity: 0.47;
}

.slider__right:hover {
  opacity: 1;
}
