$mobile-width: 320px; // 320px - 767px
$tablet-width: 767px; // 768 - 1365px
$desktop-width: 1023px; // do not use
$large-width: 1365px; //1366px - Xpx
$retina-dpi: 144dpi; // for retina
$retina-dppx: 1.5dppx; // for retina

// color

$title-color: #FFFFFF;
$description-color: #A07B50;

// fonts

$roboto: "Roboto", "Arial", sans-serif; // roboto font
$yesevaone: "yesevaone", "Courier", sans-serif; // yesevaone font
